body
{
    background-color: #083d75;
}
.container
{
    width: 1024px;
    background: white;
    margin: 0 auto;
    padding: 20px;
    margin-top: 5px;
    border-radius: 15px;
}
.container h1
{
    text-align: center;
    color: #083d75
}
.container table
{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;
}
.contiene
{
    width: 30px;
    background-color: #99afc7;
    padding: 30px;
}
.no-contiene
{
    width: 30px;
    background-color: #dfe8f1;
    padding: 0px;
}
.container-alternatives
{
    display: flex;
    justify-content: center;
}
.box
{
    width: 36px;
    padding: 24px;
    text-align: center;
    font-size: 24px;
    color: #687f4d;
    background-color: #dde8cf;
    border: 1px solid #687f4d;
    cursor: pointer;
    margin: 2px;
}
.resultado
{
    background-color: #99afc7;
    color: #dfe8f1;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
* {
    transition: all 0.3s;
}
.frame
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Calibri';
    color: #000;
}
.button-container
{
    display: flex;
    justify-content: space-around;
}
.btn
{
    cursor: pointer;
    display: inline-block;
    font-size: 60%;
    padding: 20px;
}